/Desktop
/Documents
/Downloads
/Dropbox
/java_opts
/Library
/Movies
/Music
/NyProject
/opts
/Pictures
/Public
*.un~
.*.un~
*.swp
*.log
*tags*
.dropbox
.gem
.gitignore.swp
.guard_history
.irb-history
.lesshst
.mysql_history
.pgpass
.pry_history
.psql_history
.rnd
.rvm
.ssh
.subversion
.travis
.vim
.vim-fuf-data
.vim_mru_files
.viminfo
.zprofile
.zshrc
.CFUserTextEncoding
.DS_Store
.NERDTreeBookmarks
.Trash
.bash_history
